/.classpath
/.project
/.settings
/bin
/logs
/src/test/resources/abc/
/src/test/resources/mobydick/
/target
/stanford-postagger-full-2014-01-04

.ser
mod*
kneser*
normalized*
training.txt
learning.txt
absolute
continuation
parsed.txt
brownPlain.txt
brownTagged.txt
