/.classpath
/.project
/.settings
/bin
/logs
/src/test/resources/*.out/
/target
/stanford-postagger-full-2014-01-04
/scripts/brownPlain.txt
/scripts/brownTagged.txt
/doc/*.aux
/doc/*.log
/doc/*.out
/doc/*.toc
/doc/*.tex.backup
glmtk.conf
