# Main memory (RAM) to be assigned to GLMTK in Mebibytes (MiB).
mainMemory = 4096

# Number of parallel threads used.
numberOfThreads = 4

# reader memory per thread in Mebibytes (MiB)
readerMemory = 50
# writer memory per thread in Mebibytes (MiB)
writerMemory = 50
# max chunk size int Mebibytes (MiB)
maxChunkSize = 500

# Delay in milliseconds before next percentage update is displayed.
# 0 disables percentage updates.
consoleUpdateInterval = 200
logUpdateInterval = 5000

# Delay in milliseconds before console parameters are updated
consoleParamsUpdateInterval = 1000

# .tagger file used for tagging.
model = stanford-postagger-full-2014-01-04/models/english-left3words-distsim.tagger
