!config

numberOfThreads: 1

memory:

    # Amount of memory assigned to the JVM in mebibytes (MiB).
    jvm: 4096

    # Buffer size for BufferedReaders in mebibytes (MiB).
    reader: 50

    # Buffer size for BufferedWriters in mebibytes (MiB).
    writer: 50

    # Max chunk size in bebibytes (MiB)
    chunkSize: 500

    # Memory limit for loading files completely in memory in mebibytes (MiB).
    cacheThreshold: 200

updateInterval:

    # Interval between progress updates for the log in milliseconds (ms).
    log: 5000

    # Interval between progress updates for the console in milliseconds (ms).
    console: 200

    # Interval between recheckin console parameters (e.g. width) in milliseconds (ms).
    consoleParams: 1000

tagging:

    # .tagger file used for tagging.
    model: stanford-postagger-full-2014-01-04/models/english-left3words-distsim.tagger

# vim: filetype=yaml:
